<html>
<head>
<meta http-equiv="refresh" content="6" />
</head>
    <br/>


<table class="table table-condensed" border="1">
<tr>
  <td class="active">API</td>
  <td class="success">Addr</td>
  <td class="warning">Health</td>
  <td class="danger">ErrCount</td>
  <td class="info">ConnCount</td>
  <td class="info">InPoolCount</td>
  <td class="info">OnUseCount</td>
</tr>
	{{ range $apiName, $apiValue := . }}
	    {{ range $addr, $addrValue := $apiValue.Addrs }}
           <tr>
             <td class="active">{{ $apiName }}</td>
             <td class="success">{{ $addr }}</td>
             <td class="warning"> {{$addrValue.Health}} </td>
             <td class="danger"> {{$addrValue.ErrCount}} </td>
             <td class="info"> {{$addrValue.ConnCount}} </td>
             <td class="info"> {{$addrValue.InPoolCount}} </td>
             <td class="info"> {{$addrValue.OnUseCount}} </td>
           </tr>
        {{ end }}
            <tr>
              <td colspan=7 class="active">----</td>
            </tr>
    {{ end }}
</table>


<br/><br/><br/>


<div class="divTable" style="border: 1px solid #000;" >
	{{ range $apiName, $apiValue := . }}
        {{ range $addr, $addrValue := $apiValue.NoInAddrs }}
            ApiName: {{ $apiName }}, Addr: {{$addr}}, InPoolCount: {{ $addrValue.InPool }}, OnUseCount: {{ $addrValue.OnUse }}<br/>
        {{ end }}
    {{ end }}
</div>

</html>